/* Custom CSS for PDF Embed */
.embed-pdf {
    height: 80vh;   /* Adjust height as needed */
    width: 80vw;    /* Adjust width to control size */
    max-width: 100%; 
    display: block;
    margin: 0 auto;
}

.pdf-container {
    height: 100%;
    display: block;
    overflow: hidden;
}

.figure a {
    display: inline-block;
    margin-right: 10px;
    width: 100%;
}

/* Update the background color to pink */
.body {
    background-color: #f8c8d1; /* Soft pink color */
  }
  
  /* Optional: Update other areas like header or footer if desired */
  header, footer {
    background-color: #f8c8d1;
  }
  